[autotune_tmc stepper_x]
motor: ldo-42sth48-2804ah
tuning_goal: performance
[autotune_tmc stepper_y]
motor: ldo-42sth48-2804ah
tuning_goal: performance

[autotune_tmc stepper_z]
motor: ldo-42sth60-2004mah
tuning_goal: silent
[autotune_tmc stepper_z1]
motor: ldo-42sth60-2004mah
tuning_goal: silent
[autotune_tmc stepper_z2]
motor: ldo-42sth60-2004mah
tuning_goal: silent
[autotune_tmc stepper_z3]
motor: ldo-42sth60-2004mah
tuning_goal: silent

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: performance

[input_shaper]
#Slicer Accels: 9k and 4000
shaper_freq_x: 52.8
shaper_type_x: mzv
shaper_freq_y: 35
shaper_type_y: mzv

damping_ratio_x: 0.078
damping_ratio_y: 0.066